<!DOCTYPE html>
<html>

  <head>
    <title>FCC URL Shortener Microservice</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>freeCodeCamp Backend API Projects - URL Shortener Microservice</h1>
      <h3>Simple API to return a shortened URL that redirects to a requested website</h3>
        
      <h3>Example URL creation usage:<br>
        <code class="example">https://ms1-url-micro.glitch.me/api/url/https://www.google.com</code><br>
        <code class="example">https://ms1-url-micro.glitch.me/api/url/http://foo.com:80</code><br>
        <br>
        Example URL creation output:<br>
        <code class="example">{ "original_url":"http://foo.com:80", "short_url":"https://ms1-url-micro.glitch.me/ff6c4a0b" }</code><br>
        <br>
        <br>
        Example URL usage:<br>
        <code class="example">https://ms1-url-micro.glitch.me/290b2b60</code><br>
        <br>
        Example URL redirects to:<br>
        <code class="example">https://www.google.com</code>
      </h3>
    </div>
  </body>

</html>
