/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: left;
}

.container {
	padding: 0;
	margin-top: 40px;
  padding-left: 15%;
}

.footer {
	margin-top: 60px;
}

.example {
  background: white;
  color: red;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}
